
.site-inline {
    /*font-size: */;
}
.site-tree, .site-content {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
.site-tree {
    min-height: 900px;
    padding: 5px 0 20px;
    width: 220px;
}
.site-content {
    min-height: 900px;
    padding: 20px 0 10px 20px;
    width: 899px;
}
.header {
    background-color: #393d49;
    border-bottom: 1px solid #404553;
    height: 59px;
}
.logo {
    left: 0;
    position: absolute;
    top: 16px;
}
.logo img {
    height: 31px;
    width: 82px;
}
.header .layui-nav {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.header .layui-nav .layui-nav-item {
    margin: 0 20px;
}
.header .layui-nav .layui-nav-item[mobile] {
    display: none;
}
.menu {
    line-height: 65px;
    position: absolute;
    right: 0;
    top: 0;
}
.menu a {
    display: inline-block;
    vertical-align: top;
}
.menu a {
    color: #c2c2c2;
    font-size: 14px;
    margin: 0 20px;
    padding: 0 20px;
    position: relative;
}
.menu a:hover {
    color: #fff;
    transition: all 0.5s ease 0s;
}
.menu a.this {
    color: #fff;
}
.menu a.this::after {
    background-color: #5fb878;
    bottom: -1px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}
.header-index {
    background-color: #0c1206;
    border: medium none;
}
.header-demo {
    border-bottom: medium none;
    height: 60px;
}
.header-demo .logo {
    left: 40px;
}
.header-demo .layui-nav {
    top: 0;
}
.header-demo .layui-nav .layui-nav-item {
    margin: 0 10px;
}
.header-demo .layui-nav .layui-this a {
    padding: 0 30px;
}
.component {
    left: 120px;
    position: absolute;
    top: 16px;
    width: 200px;
}
.component .layui-input {
    background-color: rgba(255, 255, 255, 0.05);
    border: 0 none;
    color: #fff;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
}
.component .layui-form-select .layui-edge {
    border-top-color: #999;
    display: none;
}
.component .layui-form-select dl {
    background-color: rgba(255, 255, 255, 0.9);
    top: 36px;
}
.header-demo .component {
    left: 185px;
}
.footer {
    background-color: #eee;
    color: #666;
    font-weight: 300;
    line-height: 30px;
    padding: 30px 0;
    text-align: center;
}
body .layui-layout-admin .footer-demo {
    height: auto;
    line-height: 26px;
    padding: 15px 0;
}
.footer a {
    padding: 0 5px;
}
.site-banner {
    background-color: #393d49;
    height: 600px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.site-banner-bg, .site-banner-main {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.site-banner-bg {
    background-position: center 0;
}
.site-zfj {
    height: 220px;
    padding-top: 25px;
}
.site-zfj i {
    color: #c2c2c2;
    font-size: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    top: 25px;
    width: 200px;
}
@keyframes site-zfj {
0% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) rotate(0deg) scale(1);
}
10% {
    opacity: 0.8;
    transform: translate3d(-100px, 0px, 0px) rotate(10deg) scale(0.7);
}
35% {
    opacity: 0.6;
    transform: translate3d(100px, 0px, 0px) rotate(30deg) scale(0.4);
}
50% {
    opacity: 0.4;
    transform: translate3d(0px, 0px, 0px) rotate(360deg) scale(0);
}
80% {
    opacity: 0.2;
    transform: translate3d(0px, 0px, 0px) rotate(720deg) scale(1);
}
90% {
    opacity: 0.1;
    transform: translate3d(0px, 0px, 0px) rotate(3600deg) scale(6);
}
100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) rotate(3600deg) scale(1);
}
}
@keyframes site-desc {
0% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
}
}
.layui-anim-scaleSpring {
    animation-name: layui-scale-spring;
}
.site-zfj-anim i {
    animation-duration: 5s;
    animation-name: site-zfj;
    animation-timing-function: linear;
}
.site-desc {
    background: rgba(0, 0, 0, 0) url("../images/layui/desc.png") no-repeat scroll center center;
    height: 70px;
    margin-top: 25px;
    position: relative;
}
.site-desc-anim {
    animation-name: site-desc;
}
.site-desc cite {
    bottom: -40px;
    color: #c2c2c2;
    font-style: normal;
    left: 0;
    position: absolute;
    width: 100%;
}
.site-download {
    font-size: 0;
    margin-top: 80px;
}
.site-download a {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ccc;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding: 0 45px 0 90px;
    position: relative;
    transition: all 0.5s ease 0s;
}
.site-download a:hover {
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    color: #fff;
}
.site-download a cite {
    font-size: 30px;
    left: 45px;
    position: absolute;
}
.site-version {
    color: #ccc;
    font-size: 12px;
    margin-top: 15px;
    position: relative;
}
.site-version span {
    padding: 0 3px;
}
.site-version * {
    font-style: normal;
}
.site-version a {
    color: #e2e2e2;
    text-decoration: underline;
}
.site-banner-other {
    bottom: 32px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.site-banner-other iframe {
    border: medium none;
}
.site-idea {
    font-size: 0;
    font-weight: 300;
    margin: 50px 0;
    text-align: center;
}
.site-idea li {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
.site-idea li {
    border: 1px solid #d2d2d2;
    height: 150px;
    line-height: 24px;
    margin-left: 30px;
    padding: 30px;
    text-align: left;
    width: 298px;
}
.site-idea li:first-child {
    margin-left: 0;
}
.site-idea .layui-field-title {
    border-color: #d2d2d2;
}
.site-idea .layui-field-title legend {
    margin: 0 20px 20px 0;
    padding: 0 20px;
    text-align: center;
}
.site-tips {
    background-color: #f2f2f2;
    border-left: 5px solid #0078ad;
    line-height: 22px;
    margin-bottom: 10px;
    padding: 15px;
}
body .site-tips p {
    margin: 0;
}
.site-dir {
    display: none;
}
.site-dir li {
    line-height: 26px;
    list-style-type: disc;
    margin-left: 20px;
    overflow: visible;
}
.site-dir li a {
    display: block;
}
.site-dir li a:active {
    color: #01aaed;
}
.site-dir li a.layui-this {
    color: #01aaed;
}
body .layui-layer-dir {
    border: 1px solid #d2d2d2;
    box-shadow: none;
}
body .layui-layer-dir .layui-layer-content {
    max-height: 286px;
    overflow: auto;
    padding: 10px;
}
.site-dir a em {
    color: #c2c2c2;
    font-size: 12px;
    font-style: normal;
    padding-left: 5px;
}
.site-tree {
    border-right: 1px solid #eee;
}
.site-tree .layui-tree {
    line-height: 32px;
}
.site-tree .layui-tree li i {
    color: #000;
    font-size: 22px;
    position: relative;
}
.site-tree .layui-tree li a cite {
    padding: 0 8px;
}
.site-tree .layui-tree .site-tree-noicon a cite {
    padding-left: 15px;
}
.site-tree .layui-tree li a em {
    color: #bbb;
    font-size: 12px;
    font-style: normal;
    padding-right: 5px;
}
.site-tree .layui-tree li h2 {
    background-color: #f2f2f2;
    border-left: 5px solid #009e94;
    line-height: 36px;
    margin: 15px 0 5px;
    padding: 0 10px;
}
.site-tree .layui-tree li ul {
    line-height: 28px;
    margin-left: 27px;
}
.site-tree .layui-tree li ul a, .site-tree .layui-tree li ul a i {
    color: #777;
}
.site-tree .layui-tree li ul a:hover {
    color: #333;
}
.site-tree .layui-tree li ul li {
    list-style-type: disc;
    margin-left: 25px;
    overflow: visible;
}
.site-tree .layui-tree li ul li cite, .site-tree .layui-tree .site-tree-noicon ul li cite {
    padding-left: 0;
}
.site-tree .layui-tree .layui-this a {
    color: #01aaed;
}
.site-tree .layui-tree .layui-this .layui-icon {
    color: #01aaed;
}
.site-fix .site-tree {
    background-color: #fff;
    bottom: 0;
    min-height: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 666;
}
.site-fix .site-content {
    margin-left: 220px;
}
.site-fix-footer .site-tree {
    margin-bottom: 120px;
}
.site-title {
    margin: 30px 0 20px;
}
.site-title fieldset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px medium medium;
    padding: 0;
}
.site-title fieldset legend {
    font-size: 22px;
    font-weight: 300;
    margin-left: 20px;
    padding: 0 10px;
}
.site-text a {
    color: #01aaed;
}
.site-h1 {
    border-bottom: 1px solid #eee;
    color: #393d49;
    font-size: 28px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.site-h1 .layui-icon {
    font-size: 50px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.site-text {
    position: relative;
}
.site-text p {
    line-height: 22px;
    margin-bottom: 10px;
}
.site-text em {
    color: #666;
    font-style: italic;
    font-weight: 500;
    padding: 0 3px;
}
.site-text code {
    background-color: #fbfbfb;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    color: #666;
    margin: 0 5px;
    padding: 3px 10px;
}
.site-table {
    margin: 10px 0;
    width: 100%;
}
.site-table thead {
    background-color: #f2f2f2;
}
.site-table th, .site-table td {
    border: 1px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-height: 20px;
    padding: 6px 15px;
}
.site-table tr:nth-child(2n) {
    background: #fbfbfb none repeat scroll 0 0;
}
.site-block {
    border: 1px solid #eee;
    padding: 20px;
}
.site-block .layui-form {
    margin-right: 200px;
}
body .layui-layout-admin .site-demo {
    bottom: 82px;
    padding: 0;
}
body .site-demo-nav .layui-nav-item {
    line-height: 40px;
}
.layui-nav-item .layui-icon {
    font-size: 20px;
    position: relative;
}
.layui-nav-item a cite {
    padding: 0 10px;
}
.site-demo .layui-main {
    line-height: 22px;
    margin: 15px;
}
.site-demo-editor {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}
.site-demo-area {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.site-demo-editor textarea {
    background-color: #f7fbff;
    border: medium none;
    box-sizing: border-box !important;
    color: #504030;
    font-family: Courier New;
    font-size: 12px;
    height: 100%;
    padding: 15px;
    position: absolute;
    resize: none;
    width: 100%;
}
.site-demo-btn {
    bottom: 15px;
    position: absolute;
    right: 20px;
}
.site-demo-zanzhu {
    background-color: #e2e2e2;
    bottom: 0;
    height: 90px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}
.site-demo-zanzhu > * {
    position: relative;
    z-index: 1;
}
.site-demo-zanzhu::before {
    color: rgb(170, 170, 170);
    content: "";
    font-size: 18px;
    font-weight: 300;
    left: 50%;
    margin: -10px 0 0 -60px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 120px;
    z-index: 0;
}
.site-demo-result {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.site-demo-result iframe {
    height: 100%;
    position: absolute;
    width: 100%;
}
.site-demo-button {
    margin-bottom: 30px;
}
.site-demo-button div {
    margin: 20px 30px 10px;
}
.site-demo-button .layui-btn + .layui-btn {
    margin-left: 0;
}
.site-demo-button .layui-btn {
    margin: 0 7px 10px 0;
}
.site-demo-text a {
    color: #01aaed;
}
.site-demo-laytpl {
    text-align: center;
}
.site-demo-laytpl textarea, .site-demo-laytpl div span {
    margin: 0 15px;
    padding: 15px;
    width: 40%;
}
.site-demo-laytpl textarea {
    background-color: #3f3f3f;
    border: medium none;
    color: #e3ceab;
    font-family: Courier New;
    height: 300px;
    resize: none;
}
.site-demo-laytpl div span {
    background: #101010 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    text-align: center;
}
.site-demo-tplres {
    margin: 10px 0;
    text-align: center;
}
.site-demo-tplres .site-demo-tplh2, .site-demo-tplres .site-demo-tplview {
    display: inline-block;
    width: 50%;
}
.site-demo-tplres h2 {
    background: #e2e2e2 none repeat scroll 0 0;
    padding: 15px;
}
.site-demo-tplres h3 {
    font-weight: 700;
}
.site-demo-tplres div {
    border: 1px solid #e2e2e2;
    padding: 14px;
    text-align: left;
}
.site-demo-upload, .site-demo-upload img {
    border-radius: 100%;
    height: 100%;
    width: 100%;
}
.site-demo-upload {
    background: #e2e2e2 none repeat scroll 0 0;
    position: relative;
}
.site-demo-upload .site-demo-upbar {
    left: 50%;
    margin: -18px 0 0 -56px;
    position: absolute;
    top: 50%;
}
.site-demo-upload .layui-upload-button {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1);
}
.site-demo-util {
    position: relative;
    width: 300px;
}
.site-demo-util img {
    border-radius: 100%;
    width: 300px;
}
.site-demo-util span {
    background: #333 none repeat scroll 0 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
@keyframes demo-fengjie {
0% {
    background: #fff none repeat scroll 0 0;
    border-radius: 100%;
    filter: blur(0px);
    height: 300px;
    opacity: 1;
}
80% {
    filter: blur(50px);
    opacity: 0.95;
}
100% {
    background: #fff none repeat scroll 0 0;
    filter: blur(20px);
    opacity: 0;
}
}
.site-demo-fengjie {
    animation-duration: 5s;
    animation-name: demo-fengjie;
}
.layui-layout-admin .site-demo-body {
    top: 106px;
}
.site-demo-title {
    left: 200px;
    position: fixed;
    right: 0;
    top: 65px;
}
.site-demo-code {
    background-color: #f7fbff;
    border: medium none;
    color: #881280;
    font-family: Courier New;
    font-size: 12px;
    height: 100%;
    left: 0;
    padding: 10px;
    position: absolute;
    resize: none;
    top: 0;
    width: 100%;
}
.site-demo-body .layui-elem-quote a {
    color: #01aaed;
}
.site-demo-body .layui-elem-quote a:hover {
    color: #ff5722;
}
#trans-tooltip, #tip-arrow-bottom, #tip-arrow-top {
    display: none !important;
}
.alone {
    margin: 200px auto;
    width: 730px;
}
.alone ul {
    font-size: 0;
    margin-left: 1px;
}
.alone li {
    background-color: #393d49;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 80px;
    margin: 0 1px 1px 0;
    text-align: center;
    width: 181px;
}
.alone li:hover {
    opacity: 0.8;
}
.alone li a {
    color: #fff;
    display: block;
}
@media screen and (max-width: 750px) {
.layui-main {
    margin: 0 10px;
    width: auto;
}
.logo, .header-demo .logo {
    left: 10px;
}
.component {
    display: none;
}
.site-nav-layim {
    display: none !important;
}
.header .layui-nav .layui-nav-item {
    margin: 0;
}
.header .layui-nav .layui-nav-item a {
    padding: 0 20px;
}
.header .layui-nav .layui-nav-item[pc] {
    display: none;
}
.header .layui-nav .layui-nav-item[mobile] {
    display: inline-block;
}
.site-banner {
    height: 300px;
}
.site-banner-bg {
    background-size: cover;
}
.site-zfj {
    height: 100px;
    padding-top: 5px;
}
.site-zfj i {
    font-size: 100px;
    height: 100px;
    margin-left: -50px;
    top: 10px;
    width: 100px;
}
.site-desc {
    background-size: 70% auto;
    margin: 0;
}
.site-desc cite {
    display: none;
}
.site-download {
    margin-top: 0;
}
.site-download a {
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 25px 0 60px;
}
.site-download a cite {
    left: 20px;
}
.site-banner-other {
    bottom: 15px;
}
.site-idea {
    margin: 20px 0;
}
.site-idea li {
    box-sizing: border-box !important;
    height: auto;
    margin: 0 0 20px;
    width: 100%;
}
.site-hengfu img {
    max-width: 100%;
}
.site-block .layui-form {
    margin-right: 0;
}
.layui-layer-dir {
    display: none;
}
.site-tree {
    background-color: #fff;
    bottom: 0;
    left: -260px;
    min-height: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 1000;
}
.site-content {
    overflow: auto;
    padding: 0;
    width: 100%;
}
.site-content img {
    max-width: 100%;
}
.site-tree-mobile {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    bottom: 15px;
    color: #fff;
    display: block !important;
    height: 50px;
    left: 15px;
    line-height: 50px;
    position: fixed;
    text-align: center;
    width: 50px;
    z-index: 100000;
}
.site-home .site-tree-mobile {
    display: none !important;
}
.site-mobile .site-tree-mobile {
    display: none !important;
}
.site-mobile .site-tree {
    left: 0;
}
.site-mobile .site-mobile-shade {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
.site-tree-mobile i {
    font-size: 20px;
}
.layui-code-view {
    box-sizing: border-box;
}
.layui-layout-admin .layui-side {
    left: -260px;
    position: fixed;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 10000;
}
.layui-body {
    bottom: 0;
    left: 0;
    position: static;
}
.site-mobile .layui-side {
    left: 0;
}
body .layui-layout-admin .footer-demo {
    position: static;
}
.site-demo-area, .site-demo-editor, .site-demo-result, .site-demo-editor textarea, .site-demo-result iframe {
    position: static;
    width: 100%;
}
.site-demo-editor textarea {
    height: 350px;
}
.site-demo-zanzhu {
    display: none;
}
.site-demo-btn {
    bottom: auto;
    top: 370px;
}
.site-demo-result iframe {
    height: 500px;
}
.site-demo-laytpl textarea, .site-demo-laytpl div span {
    margin: 0;
}
.site-demo-tplres .site-demo-tplh2, .site-demo-tplres .site-demo-tplview {
    box-sizing: border-box;
    width: 100%;
}
.site-demo-title {
    left: 0;
    position: static;
}
body .layui-layout-admin .site-demo {
}
.site-demo-code {
    height: 350px;
    position: static;
}
}
