@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:hover, a:active {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  line-height: 1.5; }

body,
button,
input,
select,
textarea {
  font-family: Helvetica, Tahoma, Arial, "Microsoft Yahei"; }

img {
  vertical-align: middle; }

textarea {
  resize: vertical; }

h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 2.1rem; }

h2 {
  font-size: 1.82rem; }

h3 {
  font-size: 1.638rem; }

h4 {
  font-size: 1.4rem; }

h5, h6 {
  font-size: 1.19rem;
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: #08c; }
  a:hover {
    color: #006699; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc; }

body {
  position: relative; }

html {
  font-size: 62.5%; }

.tc {
  text-align: center; }

::-webkit-scrollbar {
  width: 8px;
  height: 6px; }

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #595b60; }

.center_nodata {
  color: whitesmoke;
  font-size: 2rem;
  margin-top: 7rem; }

.fl {
  float: left; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.ecli {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.main {
  width: 1000px;
  margin: 0 auto; }

.panel {
  width: 280px;
  height: 740px;
  background: #2e3238;
  float: left; }
  .panel .header {
    width: 100%;
    height: 78px;
    box-sizing: border-box;
    padding: 18px;
    position: relative; }
    .panel .header .avatar {
      display: table-cell;
      vertical-align: middle; }
      .panel .header .avatar img {
        width: 45px;
        height: 45px; }
    .panel .header .nickname {
      display: table-cell;
      padding-left: 18px;
      font-size: 18px;
      vertical-align: middle;
      color: white; }
  .panel .header:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #24272c; }
  .panel .tab {
    position: relative;
    width: 100%;
    height: 45px; }
    .panel .tab:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid #24272c; }
    .panel .tab .tab_item {
      width: 49.9999%;
      float: left;
      height: 100%;
      position: relative; }
      .panel .tab .tab_item a {
        display: block;
        text-align: center; }
        .panel .tab .tab_item a .chat_pic {
          background: url(/FWS/statics/image/chat/chat1.png) left center no-repeat;
          display: inline-block;
          vertical-align: middle;
          width: 35px;
          height: 45px; }
        .panel .tab .tab_item a .friends_pic {
          background: url(/FWS/statics/image/chat/friend.png) left center no-repeat;
          display: inline-block;
          vertical-align: middle;
          width: 35px;
          height: 45px; }
      .panel .tab .tab_item a::after {
        content: '';
        position: absolute;
        top: 14px;
        right: 0;
        width: 0;
        height: 20px;
        border-right: 1px solid #24272c; }
  .panel .friendTalk {
    width: 100%;
    height: 600px;
    overflow: hidden; }
    .panel .friendTalk .friendTalk_lists {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%; }
    .panel .friendTalk .active {
      background: #3a3f45; }
    .panel .friendTalk .item {
      overflow: hidden;
      padding: 12px 18px 11px;
      border-bottom: 1px solid #292c33;
      cursor: pointer;
      position: relative; }
      .panel .friendTalk .item .avatar {
        float: left;
        margin-right: 10px;
        position: relative; }
        .panel .friendTalk .item .avatar img {
          display: block;
          width: 40px;
          height: 40px; }
      .panel .friendTalk .item .info {
        color: white;
        font-size: 14px; }
        .panel .friendTalk .item .info a {
          float: right;
          color: white;
          background: red;
          padding: 0px 5px 0 4.5px;
          border-radius: 10px;
          font-size: 12px; }
        .panel .friendTalk .item .info .ecli {
          color: wheat; }
  .panel .firendName {
    width: 100%;
    height: 600px;
    overflow: hidden; }
    .panel .firendName .search {
      width: 100%;
      height: 50px;
      line-height: 50px;
      position: relative; }
      .panel .firendName .search input {
      margin-top:12px;
        width: 80%;
        height: 25px;
        border: 0;
        border-radius: 3px;
        outline-style: none;
        color: white;
        background: url(/FWS/statics/image/chat/search.png) 5px center no-repeat, #26292e;
        padding-left: 30px; }
      .panel .firendName .search:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #292c33; }
    .panel .firendName .fiendName_lists {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%; }
      .panel .firendName .fiendName_lists .item {
        overflow: hidden;
        padding: 12px 18px 11px;
        border-bottom: 1px solid #292c33;
        cursor: pointer;
        position: relative; }
        .panel .firendName .fiendName_lists .item .avatar {
          margin-right: 10px;
          position: relative;
          display: table-cell;
          vertical-align: middle; }
          .panel .firendName .fiendName_lists .item .avatar img {
            display: block;
            width: 30px;
            height: 30px;
            margin-right: 10px; }
        .panel .firendName .fiendName_lists .item .info {
          color: white;
          font-size: 14px;
          display: table-cell;
          vertical-align: middle;
          overflow: hidden; }

.contentView {
  width: 716px;
  height: 740px;
  border: 1px solid saddlebrown;
  float: left; }
